<p id="notice"><%= notice %></p>

<h2 class="text-center">Adivinhar</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gamers.each do |gamer| %>
      <tr>
        <td><%= gamer.name %></td>
        <td><%= gamer.email %></td>
        <td><%= gamer.age %></td>
        <td><%= link_to 'Show', gamer %></td>
        <td><%= link_to 'Edit', edit_gamer_path(gamer) %></td>
        <td><%= link_to 'Destroy', gamer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <section class="row">
      <div class="small-10 small-centered guru-presenter-symbol center">

      </div>
    </section>
    <section class="row numbers">
      <% for i in 0..100 %>
        <div class="small-2 columns number text-center">
          <strong>
            <%= Random.rand(99) %>
          </strong>
        </div>
      <% end %>
    </section>
  </tbody>
</table>

<br>

<%= link_to 'Novo Jogador', new_gamer_path,  class: "button" %>
