<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gamer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @gamer.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @gamer.age %>
</p>

<%= link_to 'Editar', edit_gamer_path(@gamer),  class: "button" %> |
<%= link_to 'Voltar', gamers_path,  class: "button" %>
