<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Guru" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="body-app" ng-app="GuruApp">
    <section class="row header">
      <div class="small-4 columns text-left">
        <h1>Guru</h1>
      </div>
      <div class="small-8 medium-4 columns text-right gamer">
      </div>
    </section>

    <div ng-controller="NewGamerCtrl" class="md-padding dialogdemoBasicUsage" id="popupContainer" ng-cloak="">
      <div class="dialog-demo-content" layout="row" layout-wrap="" layout-margin="" layout-align="center">
        <span class="md-primary md-raised" ng-init="showAdvanced($event)">
        </span>
      </div>

      <div ng-if="status" id="status">
        <b layout="row" layout-align="center center" class="md-padding">
          {{status}}
        </b>
      </div>

      <script type="text/ng-template" id="dialog1.tmpl.html"><md-dialog aria-label="Mango (Fruit)"  ng-cloak>
        <form>
          <md-toolbar>
            <div class="md-toolbar-tools">
              <h2>O Guru não sabe de tudo. Quem é você?</h2>
              <span flex></span>
              <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
              </md-button>
            </div>
          </md-toolbar>

          <md-dialog-content>
            <div class="md-dialog-content">
              <%= render 'form' %>
            </div>
          </md-dialog-content>

        </form>
      </md-dialog>
    </script>
    </div>

    <%= yield %>

    <footer class="header">
    </footer>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
