<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Guru" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="body-app" ng-app="GuruApp">
    <section class="row header">
      <div class="small-4 columns text-left">
        <h1>Guru</h1>
      </div>
      <div class="small-8 medium-4 columns text-right gamer">
      </div>
    </section>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="header">
    </footer>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  </body>
</html>
